# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- introducing arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. Seaborn

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Anaconda|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [2]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
jawad